@page
@model RollBackManagerLab.Web.Pages.Error._500Model

@{
    ViewData["Title"] = "Error Page In RollBackManagerLab";
    ViewData["Description"] = "Error Page In RollBackManagerLab";
}

<div class="error-div text-white">
    <h1 class="error-code">500</h1>
    <p class="error-message">An Unexpected Error Occured. Please Contact Us</p>
    <a asp-page="/Home/Index" class="back-to-home">Back to Home</a>
</div>