@page
@model RollBackManagerLab.Web.Pages.Home.DocumentsModel
@{
    ViewData["Title"] = "Documents For RollBackManagerLab";
    ViewData["Description"] = "Dynamics 365 / Powerapps RollBackManager Documents Page";
}

<div class="row">
    <!-- Sol taraftaki menü -->
    <div class="col-md-3">
        <div class="list-group  sticky-top">
            <a class="list-group-item text-white bg-secondary" href="#importingSolution">Importing Solution</a>
            <a class="list-group-item text-white bg-secondary" href="#apiKey">Registration &amp; Creating Api Key</a>
            <a class="list-group-item text-white bg-secondary" href="#config">Setting Up Configuration</a>
            <a class="list-group-item text-white bg-secondary" href="#configUser">Setting Up Configuration Users</a>
        </div>
    </div>

    <!-- Sağ taraftaki kart -->
    <div class="col-md-9">
        <div id="importingSolution" class="card mb-3 bg-secondary text-white">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://fastly.picsum.photos/id/866/900/600.jpg?hmac=J4j42230qXNChufneEPXoQyT7EDsOvs_OHYR2ikwfV4" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Importing Solution</h5>
                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="apiKey" class="card mb-3 bg-secondary text-white">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://fastly.picsum.photos/id/866/900/600.jpg?hmac=J4j42230qXNChufneEPXoQyT7EDsOvs_OHYR2ikwfV4" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Registration &amp; Creating Api Key</h5>
                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="config" class="card mb-3 bg-secondary text-white">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://fastly.picsum.photos/id/866/900/600.jpg?hmac=J4j42230qXNChufneEPXoQyT7EDsOvs_OHYR2ikwfV4" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Setting Up Configuration</h5>
                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="configUser" class="card mb-3 bg-secondary text-white">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://fastly.picsum.photos/id/866/900/600.jpg?hmac=J4j42230qXNChufneEPXoQyT7EDsOvs_OHYR2ikwfV4" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Setting Up Configuration Users</h5>
                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






